/* aside tag css*/

aside {
	@include max-width-height(100%);
	position: absolute;
	border: 5px solid red;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	.aside-grid-bg {

	}
}
